* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh
}

.header {
    padding: 20px
}

.main {
    height: auto;
    width: 100%;
    padding-bottom: 20px;
}

.button {
    border-radius: 8px;
        background: #355FCA;
        border: none;

        font-size: 40px;
        font-family: "Inter";
        font-weight: 400;
        color: #FFFFFF;
        &:hover {
        background: #5375ca;
        cursor: pointer
        }
}

.location-form {
    width: 617px;
    margin: 0 auto;
    padding: 79px 0 0 0;

    margin-bottom: 128px;

    font-size: 40px;
    font-family: "Inter";
    font-weight: 400;

    &__field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
    &__input {
        height: 49px;
        width: 405px;
        border: solid 2px #000000;

        font-size: 40px;
        font-family: "Inter";
    }
    &__submit {
        width: 617px;
        height: 91px;
    }
}

.weather-answer {
    width: 600px;
    margin: 0 auto 20px auto;

    font-size: 40px;
    font-family: "Inter";
    font-weight: 400;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
}

.map {
    margin: 0 auto;
    height: 300px;
    width: 400px; 
}

.map-choose-container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    &__button
    {
        height: 60px;
        width: 300px;
    }
}

.widget-button {
    height: 60px;
    width: 60px;
    margin: 1px;
}